.featuredDestinationsTitle {
  text-align: center;
  margin-left: 10%;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}
.destinationsImages {
  margin-right: 15px !important;
  padding-left: 15px;
  display: flex;
  max-width: 100%;
  width: 100%;
  background-size: cover;
}
.imgGrid {
  margin-left: 15px !important;
}
@media (max-width: 1275px) {
  .destinationsImages {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15px;
    width: 80%;
  }
  .featuredDestinationsTitle {
    margin-left: -3%;
  }
}
@media(max-width : 948px){
    .featuredDestinationsTitle{
        text-align: center;
        margin-left: 0%;
    }
}
