.navItem {
  text-decoration: none;
  text-align: center;
  width: 40%;
  margin: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #b8becd;
}

.navItem:hover {
  color: #202336;
}
.navItem:active {
  color: #202336;
}
.navBg {
  height: 150px;
  background-color: "#E5E5E5";
}
.registerBtn {
  width: 70%;
  border-radius: 10px !important;
  background-color: #fb8f1d !important;
  text-transform: none !important;
  color: #ffffff !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: normal !important;
  line-height: 60px;
}
.registerBg {
  position: absolute;
  left: 79.88%;
  right: 11.88%;
  top: 0.77%;
  bottom: 98.44%;
  height: 44px;
  background: #fb8f1d;
  border-radius: 8px;
}
.loginBtn {
  width: 60%;
  border-radius: 10px !important;
  border-color: #fb8f1d !important;
  text-transform: none !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: normal !important;
  line-height: 60px;
  color: #fb8f1d !important;
  mix-blend-mode: normal;
}
